.main-container {
    background: #fff;
    max-width: 500px;
    max-height: 10vh;
    padding: 2rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px
}

.input-container {
    display: flex;
    flex-direction: column;
}

.input-container .input-field {
    position: relative;
    margin-bottom: 1.5rem;
}

.input-container .input-field .underline::after {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  bottom: -5px;
  left: 0;
  background: linear-gradient(45deg, #8e2de2, #4a00e0);
  transform: scaleX(0);
  transition: all .3s ease-in-out;
  transform-origin: left;
}

.input-container .input-field input:focus ~ .underline::after {
  transform: scaleX(1);
}

.input-container .input-field input {
  outline: none;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.7);
}

.input-container .input-field input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}