main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  width: 100vw;
  background: #000000;
}

main::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#8e2de2, #4a00e0);
  clip-path: circle(30% at right 70%);
}

main #back {
  position: absolute;
  top: 3rem;
  border: 0;
  left: 3rem;
}

main #back svg:active {
  transform: scale(1.2);
  color: #8e2de2;
}

.character-card {
  position: relative;
  width: 80rem;
  height: 40rem;
  margin-top: 8rem;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}

.character-card #card-content {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.character-card  #card-content h2 {
  position: absolute;
  top: -80px;
  right: 30px;
  font-size: 10em;
  color: rgba(255, 255, 255, 0.05);
  pointer-events: none;
}

.character-card  #card-content h3 {
  font-size: 3em;
  color: #fff;
  z-index: 1;
}

.character-card  #card-content #img-container {
  padding-right: 5rem;
}

.character-card  #card-content img {
  width: 300px;
  height: 300px;
  object-fit:cover;
  border-radius: 50%;
  border: 2px solid #fff;
}

.character-card  #card-content #text-container p {
  line-height: 30px;
  padding-right: 5rem;
  padding-left: 5rem;
  font-size: 1.2rem;
}


.character-card #card-content #power-stats {
  display: inline;
  padding-left: 5rem;
}
