@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(45deg, #8e2de2, #4a00e0);
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;
    color: #fff;
}